body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f1f5f8;
  box-sizing: border-box;
  color: #222;
}
* {
  margin: 0;
  padding: 0;
}

.bookList {
  width: 90vw;
  max-width: 1170px;
  margin: 5rem auto;
  display: grid;
  gap: 2rem;
}
.book img {
  width: 100%;
  object-fit: cover;
}
@media screen and (min-width: 768px) {
  .bookList {
    grid-template-columns: repeat(3, 1fr);
  }
}
.book {
  padding: 2rem;
  background-color: white;
  border-radius: 9px;
  text-align: center;
  position: relative;
}
.book h2 {
  margin-top: 1rem;
  font-size: 1rem;
}

.num {
  position: absolute;
  top: 0;
  left: 0;
  padding: 2rem;
  background-color: red;
  /* border-bottom-left-radius: 1rem; */
  border-top-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  color: white;
}
